.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: black;
  color: white;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: black;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: black;
  text-align: center;

  padding-top: 30px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  padding-top: 0px;
  color: white;
  font-size: 15px;
  margin-top: 0px;
  /* line-height: 0px; */
}

h3 {
  font-size: 20px;
  align: center;

}

p1 {
  position: relative;
  top: 20px;
  align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: white;
  color: black;
  font-size: 20px;
}

p2 {
  text-align: center;

}

p3 {
  position: relative;
  top: 130px;
}

.Fields {

}

.LearnMore {
  margin-top: -40px;
}

.RWImage {
  margin-top: -60px;
  padding-left: 60px;
}

.FootyImage {
  margin-top: -60px;
  padding-left: 60px;
}

.MusicImage {
  margin-top: -60px;
  padding-left: 60px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 60px;
}

.row {
  display: flex;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.selfCenter {
  margin-top: 0px;
  padding-left: 135px;
}

.youtube {
  margin-top: 50px;
}
